/* CSS for navigation bar */
.topnav {
    background-color: #00a087;
    color: #e8fdff;
    position: fixed;
    height: 80px;
    padding: 0em 2em 0em 2em;
    top: 0;
    left: 0;
    right: 0;
}

#nav-bar .logo{
  width: 80px;
  height: 80px
  display: inline-block;
  vertical-align: middle;
}
#nav-bar .header{
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

#nav-bar .compose{
    background-color: #E0FFFF;
    color: #00a087;
    margin-top: 1%;
    vertical-align: middle;
    height: 60px;
    width: 140px;
    float: right;
    border-radius: 10px 10px;
    border-color: #000000;
    border-style: solid;
    font-size: 1.5em;
}

#nav-bar button.compose:hover {
  background-color: white;
  color: black;
}
